@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
  }
  
  * {
    font-family: 'DNFBitBitv2';
    align-items: center;
    color: #4F3C2C;
  }
  
  .board_main {
    background-color: #C8966D;
    padding-top: 10vh;
  }
  
  .board_ground {
    background-color: #7FB77E;
    padding-top: 10vh;
    display: grid;
    place-content: center;
  }
  
  .board_background { 
    display: grid;
    background-color: #FFE6BC;
    border-radius: 3vh 3vh 0 0;
    place-items: center;
    padding-top: 10vh;
    width: 75vw;
  }
  
  .board_content {
    padding: 8vh 5vw 8vh 5vw;
    background-color: #FFF4E0;
    width: 50vw;
    border-radius: 3vh 3vh 0 0;
    display: grid;
    place-items: center;
  }

  .board_inputs {
    display: grid;
    place-items: center;
    grid-template-columns: 7vw 15vw ;
    padding: 2vh 0 2vh 0;
  }