@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}
* {
    margin: 0;
    font-family: 'DNFBitBitv2';
}

.main {
    text-align: center;
}

.empty_ground {
    background-color: #C8966D;
    padding-top: 5%;
}

#title_bar {
    border: transparent;
    background-color: #75C2F6;
    width: 100vw;
    height: 35vh;
}

.content_background { 
    background-color: #7FB77E;
    display: grid;
    place-items: center;
    padding-top: 5%;
}

.background {
    height: 22vh;
}
.title_navi {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 12vh;
}
.link {
    font-size: 200%;
    color: white;
}
#cloud1 {
    position: relative;
    top: 19%;
    right: 22%;
    width: 6%;
}
#cloud2 {
    position: relative;
    top: 65%;
    left: 19%;
    width: 8%;
}
#cloud3 {
    position: relative;
    top: 70%;
    right: 50%;
    width: 4%;
}
#cloud4 {
    position: relative;
    top: 85%;
    left: 38%;
    width: 3%;
}

#title_img {
    height: 80%;
}
