@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}
html, body {
    width: 100;
}

* {
    margin: 0;
    font-family: 'DNFBitBitv2';
}

.main {
    text-align: center;
}

.main_content {
    background-color: #C8966D;
    padding-top: 10vh;
}

.empty_ground {
    background-color: #7FB77E;
    padding-top: 10vh;
    display: grid;
    place-content: center;
}

.content_background { 
    display: grid;
    background-color: #000000;
    border-radius: 3vh 3vh 0 0;
    place-items: center;
    padding-top: 6vh;
    width: 70vw;
  }
  
  .content {
    padding: 5% 5% 5% 5%;
    background-color: #FFF4E0;
    border-radius: 3vh 3vh 0 0;
    display: grid;
    place-items: center;
    width: 80%;
  }

  .score_board {
    list-style: none;
    display: grid;
    grid-template-columns: 8vw repeat(12, 4vw);
    font-size: 2.5vh;
  }

  .board_info {
    color: #FFFF;
  }