@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
  }
  *{
    font-family: 'DNFBitBitv2';
    align-items: center;
   } 

   .inputs {
    display: flex;
    justify-content: space-between;
   }

  .team_list {
    list-style: none;
  }

  .content {
    padding: 5% 5% 5% 5%;
    background-color: #FFE6BC;
    width: 70%;
  }

  .symbols {
    height: 3%;
    width: 3%;
  }

  #profile_img {
    display: block;
    background-color: #D9D9D9;
    width: 10vw;
    height: 25vh;
    object-fit : contain;
  }
  
  #team_select {
    display: flexbox;
    flex-direction: row;
    float: right;
  }

  #profile_input {
    margin: auto;
    display: flex;
    justify-content: start;
  }

  .input_boxs {
    border: none;
    border-bottom: 2px dashed #4F3C2C;
    background-color: transparent;
  }