@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
  }
  *{
    font-family: 'DNFBitBitv2';
  }

  .content {
    background-color: #FFE6BC;
    width: 80%;
  }
  ul {
    list-style: none;
  }
  
  .symbols {
    height: 3%;
    width: 3%;
  }

  #profile {
    width: 17%;
    height: 20%;
    object-fit: cover;

  }
  
  .team_select {
    display: inline-block;
    
  }