@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

* {
  font-family: 'DNFBitBitv2';
  align-items: center;
  color: #4F3C2C;
}

.join_main {
  background-color: #C8966D;
  padding-top: 10vh;
}

.join_ground {
  background-color: #7FB77E;
  padding-top: 10vh;
  display: grid;
  place-content: center;
}

.join_background { 
  display: grid;
  background-color: #FFE6BC;
  border-radius: 3vh 3vh 0 0;
  place-items: center;
  padding-top: 8vh;
  width: 70vw;
}

.join_content {
  padding: 8vh 5vw 8vh 5vw;
  border-radius: 3vh 3vh 0 0;
  background-color: #FFF4E0;
  display: grid;
  place-items: center;
  width: 50vw;
}

.join_inputs {
  margin: 1vh 0 1vh 0;
  font-size: 1.8vh;
  text-align: left;
  display: grid;
  grid-template-columns: 10vw 15vw 15vw;
  grid-template-rows: 5vh;
}

.message {
  font-size: 1.5vh;
  margin-left: 1vw;
}

#idMessage {
  color: var(--id-color);
}

#pwMessage {
  color: var(--pw-color);
}

#pwCheckMessage {
  color: var(--pwCheck-color);
}

#nnMessage {
  color: var(--nn-color);
}

.join_radio {
  height: 2vh;
  width: 2vw;
}
.symbols {
  height: 3vh;
  width: 3vh;
}

#profile_img {
  margin-top: 2vh;
  background-color: #D9D9D9;
  width: 10vw;
  height: 25vh;
  object-fit: contain;
}

#team_select {
  display: grid;
  grid-template-columns: 10vw repeat(10, 3vw);
  grid-template-rows: 5vh;
}

.input_boxs {
  border: none;
  border-bottom: 2px dashed #4F3C2C;
  background-color: transparent;
}

.buttons {
  background-color: #D9D9D9;
  border: none;
  border-radius: 1vh;
  margin-top: 2vh;
  width: 6vw;
  height: 4vh;
}

#submit_btn {
  margin-right: 3vw;
}