#title_bar {
    background-color: #75C2F6;
    height: 35vh;
}
.background {
    height: 22vh;
}
.title_navi {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 12vh;
}
.link {
    font-size: 200%;
    color: white;
}
#cloud1 {
    position: fixed;
    top: 8%;
    left: 15%;
    width: 6%;
}
#cloud2 {
    position: fixed;
    top: 12%;
    right: 25%;
    width: 8%;
}
#cloud3 {
    position: fixed;
    top: 23%;
    left: 3%;
    width: 4%;
}
#cloud4 {
    position: fixed;
    top: 30%;
    right: 3%;
    width: 3%;
}

#title_img {
    height: 80%;
}